@font-face {
  font-family: "celeste-pro-bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/celeste-pro-bold.woff2") format("woff2"),
    url("../fonts/celeste-pro-bold.woff") format("woff");
}

@font-face {
  font-family: "celeste-pro-book";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/celeste-pro-book.woff2") format("woff2"),
    url("../fonts/celeste-pro-book.woff") format("woff");
}

@font-face {
  font-family: "gilroy-bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff2") format("woff2"),
    url("../fonts/gilroy-bold.woff") format("woff");
}

@font-face {
  font-family: "gilroy-regular";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff2") format("woff2"),
    url("../fonts/gilroy-regular.woff") format("woff");
}

@font-face {
  font-family: "gilroy-medium";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroy-medium.woff2") format("woff2"),
    url("../fonts/gilroy-medium.woff") format("woff");
}


