.advantages {
	padding: 40px 0 60px;
	
	background-image: url(../img/camera-mobile.png), url(../img/compas-mobile.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 0 240px, 100% 680px;
	
	@media (min-width: $desktop) {
		padding: 100px 0 70px;
		
		background-image: url(../img/camera-desktop.png), url(../img/compas-desktop.png);
		background-position: 0 65px, 100% 390px;
	}
	&__title {
		width: 200px;
		margin: 0 auto 40px;
		
		text-align: center;
		
		@media (min-width: $desktop) {
			width: 660px;
			margin-bottom: 90px;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
		
		list-style: none;
		
		@media (min-width: $desktop) {
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
			width: 820px;
			margin: 0 auto;
		}
	}
	&__item {
		width: 160px;
		
		@media (min-width: $desktop) {
			width: 220px;
			margin-bottom: 60px;
		}
		&:not(:last-child) {
			margin-bottom: 45px;
			
			@media (min-width: $desktop) {
				margin-bottom: 60px;
			}
		}
	}
	&__icon {
		display: block;
		margin: 0 auto;
	}
	&__desc {
		margin: 15px 0 0;
		
		font-size: 14px;
		text-align: center;
		
		@media (min-width: $desktop) {
			font-size: 20px;
		}
		span {
			font-family: "gilroy-bold", sans-serif;
		}
	}
}