.chart-tours-list-item {
	@media (max-width: $desktop - 1px) {
		font-size: 14px;

		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 0 20px 0 rgba(124, 124, 124, .15);
	}
	&:not(:last-child) {
		@media (max-width: $desktop - 1px) {
			margin-bottom: 15px;
		}
		@media (min-width: $desktop) {
			border-bottom: 1px solid #f3f3f3;
		}
	}
	span {
		color: $accent;
		
		@media (min-width: $desktop) {
			display: none;
		}
	}
	&__wrap {
		padding: 20px 20px 12px;
		
		@media (min-width: $desktop) {
			display: flex;
			align-items: center;
			height: 56px;
			padding: 0;
		}
	}
	&__name {
		display: block;
		margin-bottom: 5px;
		
		font-size: 16px;
		line-height: 24px;
		text-decoration: none;
		font-family: "gilroy-bold", sans-serif;
		color: #1c1c1e;
		
		@media (min-width: $desktop) {
			order: 3;
			
			font-family: "gilroy-regular", sans-serif;
			color: $accent;
		}
	}
	&__date {
		line-height: 24px;
		
		@media (min-width: $desktop) {
			order: 1;
			width: 210px;
			padding: 0 15px 0 30px;
			box-sizing: border-box;
			
			font-size: 16px;
			color: #3b3b3b;
		}
	}
	&__days {
		line-height: 24px;
		
		@media (min-width: $desktop) {
			order: 2;
			width: 150px;
			padding: 0 15px;
			box-sizing: border-box;
			
			font-size: 16px;
			color: #3b3b3b;
		}
	}
	&__price {
		line-height: 24px;
		
		@media (min-width: $desktop) {
			order: 4;
			width: 230px;
			margin-left: auto;
			padding: 0 30px 0 15px;
			box-sizing: border-box;
			
			font-size: 16px;
			text-align: right;
			color: #3b3b3b;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		padding: 12px 20px;
		
		text-decoration: none;
		
		border-top: 1px solid #f3f3f3;
		
		@media (min-width: $desktop) {
			display: none;
		}
		svg {
			display: block;
			margin-left: 8px;
			
			transform: rotate(-90deg);
			fill: $accent;
		}
	}
}