.contacts-address {
	margin-bottom: 35px;
	&__item {
		width: 180px;
		margin: 0 auto;
		
		text-align: center;
		
		@media (min-width: $desktop) {
			width: 250px;
			margin: 0;
			
			text-align: left;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	&__title {
		margin: 20px 0 10px;
		
		font-family: "gilroy-bold", sans-serif;
		color: #2d2d2d;
		
		@media (min-width: $desktop) {
			margin: 35px 0 15px;
			
			font-size: 18px;
		}
	}
	&__text {
		margin: 0;
		
		color: #2d2d2d;
		
		@media (min-width: $desktop) {
			font-size: 18px;
		}
	}
}