.footer-social{
	display: flex;
	align-items: center;
	&__link {
		font-size: 0;
		color: transparent;
		
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	&__icon {
		fill: $white;
		
		@media (min-width: $desktop) {
			fill: #b3b3b3;
			
			transition: fill 0.2s linear;
		}
		
		&:hover {
			@media (min-width: $desktop) {
				fill: $white;
			}
		}
		
		&--vk {
			@media (min-width: $desktop) {
				width: 17px;
				height: 17px;
			}
		}
		&--instagram {
			@media (min-width: $desktop) {
				width: 15px;
				height: 15px;
			}
			
		}
		&--telegram {
			@media (min-width: $desktop) {
				width: 15px;
				height: 15px;
			}
		}
	}
}