.for-tourists-filter-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
	&__item {
		margin: 5px 0;
		padding: 5px 0;
		text-align: center;
		color: #616161;
		&.active {
			font-family: "gilroy-bold", sans-serif;
			color: $accent;
		}
	}
}