.menu-social {
	display: flex;
	align-items: center;
	
	@media (min-width: $desktop) {
		margin-top: 7px;
	}
	&__link {
		font-size: 0;
		color: transparent;
		
		&:not(:last-child) {
			margin-right: 20px;
			
			@media (min-width: $desktop) {
				margin-right: 40px;
			}
		}
	}
	&__icon {
		fill: $white;
		
		&--vk {
			@media (min-width: $desktop) {
				width: 17px;
				height: 17px;
			}
		}
		&--instagram {
			@media (min-width: $desktop) {
				width: 15px;
				height: 15px;
			}
			
		}
		&--telegram {
			@media (min-width: $desktop) {
				width: 15px;
				height: 15px;
			}
		}
	}
}