.reviews-item {
	padding-top: 30px;
	
	@media (min-width: $desktop) {
		padding-top: 60px;
	}
	&__wrap {
		width: 260px;
		margin: 0 auto;
		padding: 20px;
		box-sizing: border-box;
		
		text-align: center;
		
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 3px 30px rgba(#7c7c7c, 0.1);
		
		@media (min-width: $desktop) {
			width: 370px;
			padding: 25px 40px;
			
			box-shadow: 0 3px 10px rgba(#7c7c7c, 0.1);
		}
	}
	&__avatar {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		
		@media (min-width: $desktop) {
			margin-bottom: 25px;
		}
		img {
			display: block;
			width: 64px;
			height: 64px;
			
			border-radius: 50%;
			object-fit: cover;
			
			@media (min-width: $desktop) {
				width: 90px;
				height: 90px;
			}
		}
	}
	&__name {
		margin-bottom: 20px;
		
		font-size: 16px;
		text-transform: uppercase;
		font-family: "gilroy-bold", sans-serif;
		color: $black;
		
		@media (min-width: $desktop) {
			margin-bottom: 25px;
			
			font-size: 18px;
		}
	}
	&__text {
		margin: 0 0 20px;
		
		@media (min-width: $desktop) {
			margin-bottom: 30px;
			
			font-size: 16px;
			line-height: 26px;
		}
	}
	&__btn {
		width: 140px;
		height: 36px;
		margin: 0 auto 20px;
		
		@media (min-width: $desktop) {
			width: 200px;
			height: 50px;
			margin-bottom: 25px;
			
			font-size: 12px;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__link {
		display: block;
		&:not(:last-child) {
			margin-right: 15px;
		}
		svg {
			fill: $accent;
		}
		&--instagram {
			svg {
				@media (min-width: $desktop) {
					width: 16px;
					height: 16px;
				}
			}
		}
		&--vk {
			svg {
				@media (min-width: $desktop) {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}